<div class="container" id="header-small">
  <div id="webgl-container">
  </div>
</div>

<div class="container">
  <h3> If you think we can help you or you have a question, please don't hesitate to contact us today! </h3>
  <%= form_for([:admin, Contact.new]) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, size: 50, class: 'form-control form-control-size' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, size: 50, class: 'form-control form-control-size' %>
    </div>

    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, size: 50, class: 'form-control form-control-size' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 15, cols: 120, class: 'form-control form-control-size' %>
    </div>

    <%= f.submit 'submit', class: 'btn btn-default' %>
  <% end %>
</div>
