<div class="container" id="header">
  <div id="webgl-container">
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-4">
    <h2>Web Development</h2>
    <p> We have developers who have many years experience writting applications from scratch in PHP, Python and Ruby on Rails as well as 
        customizing existing platforms such as Drupal, Joomla and Wordpress.
    </p>
    <%= link_to "Read more", services_path, class: "btn btn-primary" %>
  </div>

  <div class="col-lg-4">
    <h2>Cloud Solutions</h2>
    <p>
      All Greywire cloud servers are designed to be secure, fast and reliable.  We can tailor
      to your buisness's needs and scale when required to keep costs at a minimum.
    </p>
    <p>
      We can setup, maintain and help you migrate too SaaS services such as Google Apps and Office 365, or offer completely 
      customizable virtual server instances.
    </p>
    <%= link_to "Read more", services_path, class: "btn btn-primary" %>
  </div>

  <div class="col-lg-4">
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Software Development</h2>
    <p>
    Do you need a more native experience when clients are acessing your services from a mobile platform?
    </p>
    <p>
    We have worked on custom applications for servers and mobile platforms, Greywire is able to work on mobile applications
    for both Android and IOS devices.
    </p>
    <%= link_to "Read more", services_path, class: "btn btn-primary" %>
  </div>

 <div class="col-lg-4">
    <h2>E-Commerce</h2>
    <p>
    Greywire has built websites that take in millions of dollars worth of transactions anually, we can create
    fast, secure platforms capable of using a variety of different payment methods with an easy to use interface for adding new
    products and maintaining your user base.
    </p>
    <%= link_to "Read more", services_path, class: "btn btn-primary" %>
  </div>

 <div class="col-lg-4">
    <h2>Servers</h2>
    <p>
    If you prefer your own server rather than keeping everything in the cloud Greywire works primary with Unix/Linux based systems
    setting up mail servers, web servers and pretty much everything else.
    </p>
    <%= link_to "Read more", services_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
